{{#extend "title"}}
    List Gear
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/edit.css">
{{/extend}}

<div class="container-fluid" id="top-bar">
    <div class="pull-left">
        <a href="/"><i class="fa fa-home"></i></a>
    </div>
    <div class="pull-right">
        <i class="fa fa-bars" id="open-menu"></i>
    </div>
</div>

<div id="fixed-img">
    <h3 class="text-center">Create Your Listing</h3>
</div>

{{#if errors}}
    <div class="container" id="errors">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {{#each errors}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
{{/if}}

<div class="container-fluid">
    <div class="row">
        <div class="edit-undone" id="photo-edit">
            <img id="photos-icon" src="/img/CameraIcon.png">
            <h5 id="add-photos">
                <button id="img-upload-btn">Add Photo</button>
                <input class="hidden" type="file" id="img-upload" accept="image/*;capture=camera">
            </h5>
        </div>
    </div>

    <div class="row" id="attributes">
        <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="editable"
                 data-field="title"
                 data-default="Tap to edit title"
                 data-placeholder="Title">{{form.title}}</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            $
            <div class="editable"
                 data-type="number"
                 data-default="Price"
                 data-field="price">{{form.price}}</div>
            <p id="per">per day</p>
        </div>
    </div>

    <div class="row" id="info">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h4><strong>Description</strong></h4>
            <p>
            <div class="editable textarea"
                 data-field="description"
                 data-default="Tap to edit description"
                 data-placeholder="Description">{{form.description}}</div>
            </p>
        <p>
            {{#ifEq type 'tent'}}
                <strong>Number of people tent holds:</strong>
                <div class="editable"
                     data-type="number"
                     data-field="people"
                     data-default="Tap to edit number of people tent holds"
                     data-placeholder="Number of people">{{form.people}}</div>
            {{/ifEq}}
            {{#ifEq type 'surfboard'}}
                <strong>Type of Board:</strong>
                <div class="editable"
                     data-type="dropdown"
                     data-options="Beginner|Shortboard|Midlength|Longboard|Finless"
                     data-field="type"
                     data-default="Tap to edit the surfboard's type"
                     data-placeholder="">{{form.type}}</div>
            {{/ifEq}}
            </p>
        </div>
    </div>

    <div class="row" id="info">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h4 class="text-center"><i class="fa fa-map-marker"></i> <strong>
                <div class="editable"
                     data-field="city"
                     data-default="Tap to edit city"
                     data-placeholder="City">{{form.city}}</div>
                <div class="editable"
                     data-field="zip"
                     data-default="Tap to edit zip"
                     data-placeholder="Zip">{{form.zip}}</div>
            </strong></h4>
        </div>
    </div>
</div>

<div id="post-listing" href="/find-gear/request-confirmation">
    Post Listing
</div>

<div class="modal" tabindex="-1" role="dialog" id="fb-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <h4>You must login to continue</h4>
            <button class="button" id="fb-login"><i class="fa fa-facebook-official"></i> Login with
                Facebook to continue
            </button>
        </div>
    </div>
</div>

<form action="/edit/{{type}}" method="post" style="display: none">
    <input type="text" id="img-url" name="picture">
</form>

{{#extend "js"}}
    <script>
        var loggedIn = false;
            {{#if user}}
            loggedIn = true;
            {{/if}}
    </script>
    <script src="/js/edit.js"></script>
{{/extend}}