{{#extend "title"}}
    Viewing Tent
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/view.css">
{{/extend}}

<div class="container-fluid" id="top-bar">
    <div class="pull-left">
        <a href="/"><i class="fa fa-home"></a></i>
    </div>
    <h3 class="navText">Item Details</h3>
    <div class="pull-right">
        <i class="fa fa-bars" id="open-menu"></i>
    </div>
</div>

<div id="view-img">
    <img src="{{tent.picture}}">
</div>

<div class="container-fluid">
    <div class="row" id="attributes">
        <h1 id="product-name">{{tent.title}}
            <h4 class="pull-right" id="price">${{tent.price}}<p id="per">per day</p></h4>
        </h1>
    </div>

    <div class="row" id="info">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h4><strong>Description</strong></h4>
            <p>{{tent.description}}</p>
        </div>
    </div>

    <div class="row" id="info">
        <div class="col-md-12 col-sm-12 col-xs-12" c>
            <h4 class="text-center"><i class="fa fa-map-marker"></i> <strong>{{tent.city}}
                , {{tent.zip}}</strong></h4>
        </div>
    </div>



    <div id="owner-info" class="text-center">
        <img src="{{owner.facebook.picture}}" class="img-circle">
        <p><strong>{{owner.facebook.name}}</strong></p>
    </div>
</div>

<a id="request-to-rent" href="/find-gear/message">
Contact Owner
</a>

{{#extend "js"}}
    <script src="/js/view.js"></script>
{{/extend}}