{{#extend "title"}}
    Viewing Tent
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/css/view.css">
{{/extend}}

<div class="container-fluid" id="top-bar">
    <div class="pull-left">
        <a href="/"><i class="fa fa-home"></a></i>
    </div>
    <div class="pull-right">
        <i class="fa fa-bars" id="open-menu"></i>
    </div>
</div>

<div id="view-img" class="blueimp-gallery blueimp-gallery-carousel">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<!--<div id="view-img">
    <img src="{{tent.picture}}">
</div>-->

<div class="container-fluid">
    <div class="row" id="attributes">
        <h1 id="product-name">{{title}}
            <h4 class="pull-right" id="price">${{tent.price}}<p id="per">per day</p></h4>
        </h1>
    </div>

    <div class="row" id="info">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h4><strong>Description</strong></h4>
            <p>{{tent.description}}</p>
        </div>
    </div>

    <div class="row" id="info">
        <div class="col-md-12 col-sm-12 col-xs-12" c>
            <h4 class="text-center"> <i class="fa fa-map-marker"></i> <strong>{{tent.location}}</strong></h4>
        </div>
    </div>

    <div class="row" id="dates">
        <div class="col-md-6 col-xs-6 col-sm-6 dates-box" id="left-dates">
            <div class="pickupReturn"><p>Pickup:</p></div>
            <div class="date"><p>February 14, 2016</p></div>
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6 dates-box">
            <div class="pickupReturn"><p>Return:</p></div>
            <div class="date"><p>February 14, 2016</p></div>
        </div>
    </div>

<!--     <div class="row" id="info">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h4><strong>{{tent.location}}</strong></h4>
            <p>{{tent.description}}</p>
        </div>
    </div> -->


    <div id="owner-info" class="text-center">
        <img src="{{owner.picture}}" class="img-circle">
        <p><strong>{{owner.name}}</strong></p>
    </div>
</div>

<a id="request-to-rent" href="/find-gear/request-confirmation">
Request To Rent
</a>

<div id="links">
{{#each tent.pictures}}
    <a href="{{this}}"></a>
{{/each}}
</div>

{{#extend "js"}}
    <script src="/js/jquery.blueimp-gallery.min.js"></script>
    <script src="/js/view.js"></script>
{{/extend}}