{{#extend "title"}}
    List Gear
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/list-gear/list-steps.css">
{{/extend}}

<div id="top-bar-steps">
    <div class="container-fluid" id="top-bar">
        <div class="pull-left">
            <a href="/"><i class="fa fa-home"></a></i>
        </div>
        <div class="pull-right">
            <i class="fa fa-bars" id="open-menu"></i>
        </div>
    </div>
    <h3 class="steps-head">5 steps to list</h3>
</div>

<form action="/list-gear/list-steps/{{type}}" method="post" enctype="multipart/form-data">
    <div id="main-img">
        <img id="photos-icon" src="/img/CameraIcon.png">
        <h5 id="add-photos">
            <button id="upload" type="button">Add Photo</button>
            <input type="file" name="picture" id="input-upload" accept="image/*;capture=camera">
        </h5>
    </div>

    {{#if errors}}
        <div class="container" id="errors">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                {{#each errors}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        </div>
    {{/if}}

    <div id="after-img">
        <div class="link-list" id="steps">
            <div class="link-list-item">
                <div class="row">
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <h3 class="step-header">Write Title</h3>
                        <h4 class="step-subtitle">Give your listing a descriptive headline</h4>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 square-right">
                        <i class="fa fa-square-o"></i>
                    </div>
                </div>

                <div class="dropper">
                    <input type="text" name="title" class="form-control" value="{{form.title}}"/>
                </div>
            </div>


            <div class="link-list-item">
                {{#ifEq type 'tent'}}
                    <div class="row">
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <h3 class="step-header">Tent Capacity</h3>
                            <h4 class="step-subtitle">How many people can your tent hold?</h4>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 square-right">
                            <i class="fa fa-square-o"></i>
                        </div>
                    </div>

                    <div class="dropper">
                        <input type="number" name="people" class="form-control"
                               value="{{form.people}}">
                    </div>
                {{/ifEq}}
                {{#ifEq type 'surfboard'}}
                    <div class="row">
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <h3 class="step-header">Surfboard Type</h3>
                            <h4 class="step-subtitle">What type of surfboard do you have?</h4>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 square-right">
                            <i class="fa fa-square-o"></i>
                        </div>
                    </div>

                    <div class="dropper">
                        <select class="form-control" name="type">
                            <option value="Beginner">Beginner</option>
                            <option value="Shortboard">Shortboard</option>
                            <option value="Midlength">Midlength</option>
                            <option value="Longboard">Longboard</option>
                            <option value="Finless">Finless</option>
                        </select>
                    </div>
                {{/ifEq}}
            </div>

            <div class="link-list-item">
                <div class="row">
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <h3 class="step-header">Write Description</h3>
                        <h4 class="step-subtitle">Describe your listing's characteristics</h4>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 square-right">
                        <i class="fa fa-square-o"></i>
                    </div>
                </div>

                <div class="dropper">
                    <textarea name="description"
                              class="form-control">{{form.description}}</textarea>
                </div>
            </div>

            <div class="link-list-item">
                <div class="row">
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <h3 class="step-header">Set Price</h3>
                        <h4 class="step-subtitle">It's time to make money off that thing!</h4>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 square-right">
                        <i class="fa fa-square-o"></i>
                    </div>
                </div>

                <div class="dropper">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" name="price" class="form-control"
                               placeholder="Price Per Day" value="{{form.price}}">
                    </div>
                </div>
            </div>

            <div class="link-list-item">
                <div class="row">
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <h3 class="step-header">Set Pickup Address</h3>
                        <h4 class="step-subtitle">Where will people pick it up from you?</h4>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 square-right">
                        <i class="fa fa-square-o"></i>
                    </div>
                </div>

                <div class="dropper">
                    <input class="form-control" name="city" placeholder="City" type="text"
                           value="{{form.city}}"/>
                    <input class="form-control" name="zip" placeholder="Zip" type="number"
                           value="{{form.zip}}"/>
                </div>
            </div>
        </div>
    </div>
</form>

<div id="post-listing" href="/list-gear/listing-confirmation">
    Post Listing
</div>


{{#extend "js"}}
    <script src="/js/list-steps.js"></script>
{{/extend}}