{{#extend "title"}}
    Rent Gear - Results
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="/css/find-gear/results.css">
{{/extend}}

<div class="container-fluid" id="top-bar">
    <div class="pull-left">
        <a href="/"><i class="fa fa-home"></a></i>
    </div>
    <div class="pull-right">
        <i class="fa fa-bars" id="open-menu"></i>
    </div>
</div>

<div id="fixed-img">
    <h3 class="text-center">Your Search Results</h3>
</div>

<div id="filter-container">
    <img id="filter-icon" src="/img/settingsIcon.png">
    <!-- <i class="fa fa-cogs"></i> -->
</div>

<div id="filter-overlay">
    <div class="container-fluid">
        <div class="row">
            <h1> Filter Search Results </h1>
            <div class="col-md-6 col-sm-6 col-xs-6" id="checkin">
                <div class="date-box">
                    Pickup <br/>
                    <i class="fa fa-chevron-down"></i>
                </div>
                <input type="text">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" id="checkout">
                <div class="date-box">
                    Return <br/>
                    <i class="fa fa-chevron-down"></i>
                </div>
                <input type="text">
            </div>
        </div>

        <label for="num-people" class="dropdown">Number of People</label>
        <select name="numPeople" id="num-people">
            <option value="none">Not Specified</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div id="apply-filter">
        Apply Filter
    </div>
</div>

<div class="container" id="content">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            {{#each tents}}
                {{#if_even @index}}
                    <a class="listing-box" href="/view/{{@index}}">
                        <img src="{{pictures.[0]}}" class="img-responsive">
                        <div class="price">${{price}}</div>
                        <p>{{title}}</p>
                    </a>
                {{/if_even}}
            {{/each}}
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            {{#each tents}}
                {{#if_odd @index}}
                    <a class="listing-box" href="/view/{{@index}}">
                        <img src="{{pictures.[0]}}" class="img-responsive">
                        <div class="price">${{price}}</div>
                        <p>{{title}}</p>
                    </a>
                {{/if_odd}}
            {{/each}}
        </div>
    </div>
</div>

{{#extend "js"}}
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/results.js"></script>
{{/extend}}