{{#extend "title"}}
    Rent Gear - Results
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="/css/find-gear/results.css">
{{/extend}}

<div class="container-fluid" id="top-bar">
    <div class="pull-left">
        <a href="/"><i class="fa fa-home"></a></i>
    </div>
    <div class="pull-right">
        <i class="fa fa-bars" id="open-menu"></i>
    </div>
</div>

<div class="container" id="filter">
    <div class="input-group input-group-lg" id="product-filter">
        <span class="input-group-addon" id="sizing-addon1"># of people:</span>
        <input type="text" class="form-control" placeholder="1" aria-describedby="sizing-addon1">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button">Apply Filter</button>
      </span>
    </div>
</div>

<div id="fixed-img">
    <h3 class="text-center">Your Search Results</h3>
</div>

<div class="container" id="content">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            {{#each tents}}
                {{#if_even @index}}
                    <a class="listing-box" href="/view/{{id}}">
                        <img src="{{picture}}" class="img-responsive">
                        <div class="price">${{price}}</div>
                        <p>{{title}}</p>
                    </a>
                {{/if_even}}
            {{/each}}
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            {{#each tents}}
                {{#if_odd @index}}
                    <a class="listing-box" href="/view/{{id}}">
                        <img src="{{picture}}" class="img-responsive">
                        <div class="price">${{price}}</div>
                        <p>{{title}}</p>
                    </a>
                {{/if_odd}}
            {{/each}}
        </div>
    </div>
</div>

{{#extend "js"}}
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/results.js"></script>
{{/extend}}